@charset "UTF-8";
body {
  font-family: 'メイリオ';
  background: url(images/town.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ヘッダー */
header {
  background-color: #ffffff;
  height: 60px;
  border-style: outset;
  border-color: #afeeee;
  border-top: solid 5px #e0ffff;
  border-bottom: solid 5px #afeeee;
  border-right: solid 7px #e0ffff;
  border-left: solid 7px #afeeee;
  box-shadow: 7px 7px 3px #c0c0c0;
}

header h2 {
  width: 900;
  margin-top: 10px;
}

header h2 img {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 5px;
  width: 100px;
  height: auto;
}

/* フッター */
footer {
  position: fixed;
  bottom: 0px;
}

small {
  font-size: 20px;
  color: #a9a9a9
}

/* 見出し、リンク */
h2 {
  width: 900;
  margin: 10px;
}

h3 {
  margin: 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

.image img {
  vertical-align: middle;
  border-style: outset;
  border-color: #87cefa;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  width: auto;
  height: 120px;
}

/* ボタン */
.btn a {
  display: block;
  width: 150px;
  margin: 30px 10px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  background-color: #87cefa;
  border-radius: 10px;
  box-shadow: 0px 3px #1e90ff, 0px 6px #c0c0c0;
}

/* テキストボックスの設定 */
textarea {
  display: block;
}

input {
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

/* テーブル：sample */
table.sample {
  margin-left: 5px;
  width: 1000px;
}

table.sample td:hover {
  background-color: #00ffff;
}

/* テーブル：detail */
table.detail td {
  height: 60px;
}

/* 列ごとのセル背景色設定 */
table.detail colgroup#time {
  background-color: #ffffff;
}

table.detail colgroup#important {
  background-color: #fff0f5;
}

table.detail colgroup#usual {
  background-color: #f0fff0;
}

table.detail colgroup#else {
  background-color: #f5f5f5;
}

table.detail colgroup#memo {
  background-color: #f0f8ff;
}

article {
  background-color: #f0f8ff;
  width: 300px;
  border: solid 1px #87cefa;
  border-radius: 20px;
  margin-left: 10px;
  padding: 20px;
  box-shadow: 3px 3px 3px #c0c0c0;
}


table sample td:hover {
  background-color:#00ffff;
}	

.inrain {
  display:inline;
}

table.sample td:hover {
  background-color: #00ffff !important;
}

.inrainblock {
  display:inline-block !important;
}

.images{
  width:150px;
  height:150px;
  border: 3px solid #006400;
}


.font-siro {
  color:#ffffff;
}

.left {
  float:left:
}
